<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://zncwaestportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>zncwaestportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>zncwaestportal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$zncwaestportal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CnxMegaDoc" Order="1" Enabled="False">
          <Destination Path="Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-K9GNF1O;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sa;Password=3108sham" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxMegaDoc_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-K9GNF1O;Initial Catalog=AST_EMM;Persist Security Info=True;UID=sa;PWD=3108sham" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Connection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="xpoprovider=MSSqlServer;data source=DESKTOP-K9GNF1O;initial catalog=AST_EMM;persist security info=True;uid=sa;pwd=3108sham" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="xpoprovider=MSSqlServer;data source=DESKTOP-K9GNF1O;initial catalog=AST_EMM;persist security info=True;uid=sa;pwd=3108sham" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=zncmssqlest1.database.windows.net;Initial Catalog=AST_EMM;Persist Security Info=True;User ID=sqladmin;Password=ubkmpny9nFRgM91Y</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-K9GNF1O;Initial Catalog=MagnaDoc;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-K9GNF1O;Initial Catalog=MagnaDoc;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxMegaDoc-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-K9GNF1O;Initial Catalog=MagnaDoc;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>